page-business-plus {
    ion-content{

        background-color:#f8f8f8 !important;
        .header{
            margin-top:50px;
            margin-bottom:40px;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            .btn{
                width:70% !important;
                padding:30px !important;
            }
        }
        ion-list{
            background-color:white;
            ion-item{
                padding:10px !important;
                border-top:1px solid #f8f8f8 !important;
            }
            
            .icon{
                width:27px;
                height: 27px;
                margin-right:5px;
            }
            .title{
                font-weight: bold;
                font-size:large;
            }
            .description{
                color:#777777;
                font-size:60%;
            }
                .toggle{
                    .toggle-icon{
                        background-color: #a7a7a7 !important;
                    }
                    
                }
                .toggle-checked{
                    .toggle-icon{
                        background-color: $blue-custom !important;

                    }
                }
            .line{
                height:1px;
                width:100%;
                background-color:#cccccc;
                
            }
        }

        .item-ios [item-end]{
            margin:0 !important;
        }
    }
}
